@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.cx-header {
  .righ-header {
    .icon-btn {
      background-color: transparent;
      border: none;
      color: #fff;
      font-size: 25px;
      margin-right: 15px;
    }
  }
  .nav-link {
    color: #fff;
    font-size: 18px;
    &:hover {
      color: rgb(218, 118, 118);
    }
  }
  .img-logo {
    height: 50px;
  }
}

.cx-footer {
  .wrapper {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    h5 {
      color: #fff;
      margin-bottom: 20px;
    }

    .f-first {
      width: 40%;
      img {
        height: 60px;
        margin-bottom: 15px;
      }
      p {
        color: #fff;
        margin-bottom: 0;
        font-size: 14px;
      }
    }
    .f-second {
      a {
        text-decoration: none;
        color: #fff;
        font-size: 16px;
      }
    }

    .f-third {
    }
  }
}

.banner-img {
  width: 100%;
  height: 60vh;
}
.cx-heading {
  border-bottom: 1px solid gray;
  h3 {
    color: purple;
    font-weight: 700;
    padding-bottom: 10px;
  }
}

.cx-categories {
  .cat-card {
    margin-top: 20px;
    h5 {
      color: red;
      font-weight: 600;
      letter-spacing: 2px;
      margin-bottom: 10px;
    }
    .inner-card {
      cursor: pointer;
      background-color: aliceblue;
      border-radius: 5px;
      padding: 20px;
      img {
        width: 100%;
        border-radius: 5px;
        height: 150px;
        transition: all ease 0.3s;
        &:hover {
          transition: all ease 0.3s;
          transform: scale(1.2);
        }
      }
    }
  }
}

.pro-card {
  p {
    margin-bottom: 0;
    font-weight: 600;
    color: gray;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  h6 {
    margin-top: 10px;
    font-weight: 600;
  }
  .img {
    cursor: pointer;
    img {
      // width: 100%;
      height: 250px;
      transition: all 0.3s ease;
      &:hover {
        transform: scale(1.1);
        transition: all 0.3s ease;
      }
    }
  }
}

.offcanvas.offcanvas-bottom {
  height: 100vh !important;
  input {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    height: 50px;
    &:focus {
      box-shadow: none;
    }
  }
}

.search-wrapper {
  width: 60%;
  .search-item {
    display: flex;
    align-items: center;
    .s-left {
      margin-right: 10px;
      background-color: beige;
      img {
        height: 60px;
        width: 60px;
      }
    }
    .s-right {
      h6 {
        font-weight: 600;
      }
      p {
        width: 70vw;
        margin-bottom: 0;
        color: gray;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }
  }
}

.cx-auth-main {
  // overflow-x: hidden;
  height: 100vh;
  .left-wrapper {
    text-align: center;
    p {
      padding: 0 100px;
      margin-top: 20px;
      color: #fff;
      font-size: 22px;
    }
    img {
      border-radius: 20px;
      height: 90px;
    }
    background: rgb(2, 0, 36);
    background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(121, 9, 43, 1) 35%,
      rgba(0, 212, 255, 1) 100%
    );
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .righ-wrapper {
    input {
      height: 40px;
      border-radius: 0;
      &:focus {
        box-shadow: none;
      }
    }
    h3 {
      text-align: center;
      margin-bottom: 30px;
      font-size: 45px;
    }
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .inner {
      width: 80%;
    }

    .input-with-icon {
      position: relative;
      button {
        font-size: 20px;
        position: absolute;
        top: 2px;
        right: 15px;
        background-color: transparent;
        border: none;
      }
    }
  }
}

.auth-btn {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(121, 9, 43, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  height: 40px;
  border: none;
  width: 100%;
}

.cx-singleProduct {
  .wrapper {
    display: flex;
    .left {
      margin-right: 20px;
      .p-img {
        background-color: azure;
        padding: 20px;
        img {
          height: 400px;
        }
      }
    }
    .right {
      h6 {
        font-weight: 600;
        span {
          color: gray;
          font-weight: 500;
          margin-left: 10px;
        }
      }
      .card-btn {
        height: 40px;
        background-color: purple;
        border: none;
        padding: 0 30px;
        color: #fff;
      }
      h4 {
        font-weight: 600;
        margin-bottom: 30px;
      }
      h5 {
        font-weight: 600;
        margin-bottom: 20px;
      }
      p {
        color: grey;
      }
      .c-counter-btn {
        margin-right: 15px;
        height: 40px;
        border: 1px solid gray;
        display: flex;
        align-items: center;
        .minus {
          cursor: pointer;
          padding-right: 10px;
          margin-right: 10px;
          border-right: 1px solid gray;
          padding-left: 10px;
        }
        .plus {
          cursor: pointer;

          padding-left: 10px;
          margin-left: 10px;
          border-left: 1px solid gray;
          padding-right: 10px;
        }
        .qty {
          font-weight: 600;
        }
      }
    }
  }
}

.cx-cart {
  .cart-item-wrapper {
    max-height: 50vh;
    overflow-y: auto;
    margin-top: 20px;
    .item-wrapper {
      margin-bottom: 10px;
      padding: 15px;
      background-color: antiquewhite;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .p-img {
        width: 10%;
        img {
          height: 70px;
        }
      }
      .p-name {
        width: 20%;
        p {
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          font-weight: 600;
        }
      }
      .p-counter {
        .qty {
          display: inline-flex;
          align-items: center;
          height: 40px;
          padding: 0 10px;
          border: 1px solid gray;
          margin: 0 10px;
        }
        .minus {
          cursor: pointer;
        }
        .plus {
          cursor: pointer;
        }
      }
      .p-price {
        font-weight: 600;
      }
    }
  }
}

.item-total {
  margin-top: 20px;
  h4 {
    font-weight: 600;

    color: gray;
    span {
      color: #000;
    }
  }
}

.cart-btn {
  position: relative;
  span {
    position: absolute;
    right: -10px;
    display: inline-flex;
    height: 20px;
    width: 20px;
    font-weight: 500;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: red;
    color: #fff;
    font-size: 10px;
  }
}

.cx-loader{
  height: 60vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}